* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.offset:before {
    display: block;
    content: "";
    height: 6rem;
}

.navbar {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.15rem;
    background: #0b0c10 !important;
    padding-top: 16px;
    padding-bottom: 16px;
}

.navbar-dark .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    color: #c5c6c7;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #66fcf1;
}

h1 {
    color: #66fcf1;
    text-transform: capitalize;
    font-weight: 600;
}

h2 {
    color: #1f2833;
    text-transform: capitalize;
    font-weight: 500;
}

h3 {
    color: #1f2833;
    font-weight: 400;
}

h5 {
    color: #1f2833;
    font-weight: 500;
}

p {
    color: #0b0c10;
    font-weight: 400;
    line-height: 1.4em;
}

hr {
    width: 70%;
    border: 0 none;
    height: 0.3px;
    padding-bottom: 5px;
    margin: auto;
    background-color: #1f2833;
}

.btn-color-1 {
    background-color: #66fcf1;
    color: #0b0c10;
}

.btn-color-1:hover,
.btn-color-1:active,
.btn-color-1:focus,
.btn-color-1.active {
 
  background: #1f2833;
  color: #66fcf1;
  cursor: pointer;
}

.about-me {
    background: #0b0c10;
}

.about-me-text > h3 {
    color: #66fcf1;
}

.about-me-text > p {
    color: #45a29e;
}

.skill .skill-text .btn {
    margin-left: 30%;
}

#experience .card:hover,
#learning .card:hover {
    box-shadow:
    3.9px 2.9px 6.5px rgba(0, 0, 0, 0.033),
    9.2px 6.9px 18px rgba(0, 0, 0, 0.05),
    20.7px 15.5px 43.4px rgba(0, 0, 0, 0.062),
    119px 89px 144px rgba(0, 0, 0, 0.07);
}

.footer {
    background-color: #1f2833;
}

.footer-text > p {
    color: #45a29e;
}

.footer.footer-links > a {
    text-transform: none;
}